<h1>The {{gallery.title}} Gallery of {{photographer.name}}</h1>

<div id="outer_picture_frame">
  <div id="picture_frame">
    <div id="prev">&lsaquo;</div>
    <div id="photos" my:cycle="photos.length">
      <div class="photo" id="photo_{{photo.id}}" ng:click="selectPhoto(photo)" ng:repeat="photo in photos">
        <img ng:src="{{photo.image_large_url}}" alt="{{photo.title}}" />
        <span class="title">{{photo.title}}</span>
      </div>
    </div>
    <div id="next">&rsaquo;</div>
    <span class="caption">Click a photo to add it to your collection</span>
  </div>
</div>

<div id="selected_frame">
  <div id="selected_photos">
    <div class="selected_photo" ng:repeat="selected_photo in selected_photos">
      <img ng:src="{{selected_photo.image_gallery_url}}" alt="{{selected_photo.title}}" />
      <span class="delete" ng:click="deleteSelectedPhoto(selected_photo)">✕</span>
      <form ng:submit="saveSelectedPhoto(selected_photo)">
        <input ng:model='selected_photo.title' />
      </form>
    </div>
  </div>
</div>
