<!doctype html>
<html xmlns:ng="http://angularjs.org/" ng-app='angularRailsDemo'>
<head>
  <meta charset="utf-8">
  <title>Angular Rails Demo</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div ng-view></div>

<%= javascript_include_tag "application" -%>
</body>
</html>
