<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
  <meta charset="utf-8">
  <title>Angular Rails Demo</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body ng:controller="PhotoGalleryCtrl">

  <ng:view></ng:view>

  <script src="/javascripts/angular.min.js" ng:autobind></script>
  <%= javascript_include_tag "application" -%>
</body>
</html>
